@model KarticaTransakcijeViewModel
@{
    ViewBag.Title = "Izmjena projektne kartice";
}


<hr />

<div class="container">
    <form id="dokument_form" method="post" asp-action="Edit"
          asp-route-page="@ViewBag.Page"
          asp-route-sort="@ViewBag.Sort"
          asp-route-ascending="@ViewBag.Ascending"
          asp-route-filter="@ViewBag.Filter"
          asp-route-position="@ViewBag.Position">
        <input type="hidden" asp-for="IdKartice" />
        <div asp-validation-summary="All" class="form-group row"></div>

        <div class="form-group row">
            <label asp-for="Ibankartice" class="col-sm-1 col-form-label"></label>
            <div class="col-sm-1">
                <input asp-for="Ibankartice" class="form-control" />
            </div>
            <label asp-for="Stanje" class="col-sm-1 col-form-label"></label>
            <div class="col-sm-1">
                <input asp-for="Stanje" class="form-control" />
            </div>
            <label asp-for="Stanje" class="col-sm-1 col-form-label"></label>
            <div class="col-sm-1">
                <input asp-for="Stanje" class="form-control" />
            </div>
            <label asp-for="Stanje" class="col-sm-1 col-form-label"></label>
            <div class="col-sm-1">
                <input asp-for="Stanje" class="form-control" />
            </div>
            <div class="col-sm-2">
                <button id="save" type="submit" class="btn btn-sm btn-primary save" title="Spremi">Spremi</button>
                <a class="btn btn-sm btn-primary cancel"
                   asp-action="Edit"
                   asp-route-id="@Model.IdKartice"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-filter="@ViewBag.Filter"
                   asp-route-position="@ViewBag.Position"
                   title="Osvježi">
                    Osvježi
                </a>
                <a class="btn btn-sm btn-primary cancel"
                   asp-action="Index"
                   asp-route-page="@ViewBag.Page"
                   asp-route-sort="@ViewBag.Sort"
                   asp-route-ascending="@ViewBag.Ascending"
                   asp-route-filter="@ViewBag.Filter"
                   title="Odustani">
                    Odustani
                </a>
            </div>
        </div>

        <div class="col-sm-10">
            <partial name="Transakcije" model="Model.Transakcije" />
        </div>
    </form>
</div>

<partial name="NovaTransakcijaTemplate" />

@section styles{
    <link rel="stylesheet" href="~/lib/jqueryui/themes/base/jquery-ui.css" />
}

@section scripts{
    <partial name="IncludeValidation" />
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>
    <script src="~/js/dokumenti.js" asp-append-version="true"></script>
}