@model ProjektMDViewModel

@{
    ViewBag.Title = "ProjektMD";
}

<h2>Master-Detail</h2>

<div class="float-end">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
            {
                <li class="page-item @(i == Model.PagingInfo.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i, sort = Model.PagingInfo.Sort, ascending = Model.PagingInfo.Ascending })">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Id projekta
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Naziv projekta
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Vrsta projekta
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Opis projekta
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    datumPocetka
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    datumZavrsetka
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    OIB narucitelja
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
                @foreach (var projekt in Model.Projekti)
                {
            <tr>
                <td class="text-left">@projekt.Naziv</td>
                <td class="text-left">@projekt.Opis</td>
                <td class="text-left">@projekt.IdVrsteProjekta</td>
                <td class="text-left">@projekt.DatumPocetka</td>
                <td class="text-left">@projekt.DatumZavrsetka</td>
                <td class="text-left">@projekt.Oibnarucitelj</td>
                <td class="text-left">
                    @if (projekt.Dokuments.Any()){
                        @String.Join(", ", projekt.Dokuments.Select(d => d.Stavka))
                    }

            </tr>
                }
    </tbody>
</table>