@model ZadatakViewModel

@{
    ViewBag.Title = "Zahtjev";
}


<h2>Prikaz zadataka za odabrani zahtjev</h2>

<div class="row justify-content-sm-center">
    <div class="col-sm-1 text-left">
        <a class="btn btn-sm btn-primary cancel" title="Povratak" href="#" onclick="history.back(); return false;">
            <i class="fas fa-undo-alt"></i>Povratak
        </a>
    </div>
</div>


<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                    Naziv
            </th>
            <th>
                    Planirani početak
            </th>
            <th>
                    Planirani završetak
            </th>
            <th>
                    Stvarni početak
            </th>
            <th>
                    Stvarni završetak
            </th>
            <th>
                    Zahtjev
            </th>
            <th>
                    Status
            </th>
            <th>
                    OIB Osobe
            </th>
            <th>
                    Prioritet
            </th>
    </thead>

    <tbody>
        @foreach (var zadatak in Model.Zadatci)
        {
            <tr>
                <td class="text-left">@zadatak.ImeZadatka</td>
                <td class="text-left">@zadatak.PlaniraniPocetak</td>
                <td class="text-left">@zadatak.PlaniraniZavrsetak</td>
                <td class="text-left">@zadatak.StvarniPocetak</td>
                <td class="text-left">@zadatak.StvarniZavrsetak</td>
                <td class="text-left">@zadatak.IdZahtjevaNavigation.Naslov</td>
                <td class="text-left">@zadatak.IdStatusNavigation.Naziv</td>
                <td class="text-left">@zadatak.OibosobaNavigation.Ime @zadatak.OibosobaNavigation.Prezime</td>
                <td class="text-left">@zadatak.IdPrioritetaNavigation.Naziv</td>
            </tr>
        }
    </tbody>

</table>
